<%= form_with model: @comment, url:user_post_comments_path, method: :post, local: true, scope: :my_comment do |f| %>
  <div>
    <%= f.label :Text%>
    <%= f.text_field :Text%>
  </div>
  <%= f.submit "Add Comment" %>
<% end %>